h1{
    font-size: 50px;
    color: rgb(223, 150, 4);
}
.Mishon{
    color: brown;
}
.wow{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
}
.wow img{
    width: 100%;

}
.banner{
    background-image: url("F:\web develoment\project\complete-web-development-bangla-resources-master\web_portfolio\image\top-banner.png");
    
}
    
}
section{
    height: 500px;
}